$second-color: #ddd;
$main-color: #2a2929;

.ReferenceForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    h1 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 30px;
        margin-top: 15px;
        text-align: center;
    }
    span {
        font-size: 16px;
    }
}

[data-theme="light"] {
    h1 {
        color: black;
    }

    span {
        color: black;
    }

    .Wrapper {
        background-color: $second-color;
    }
}

[data-theme="dark"] {
    h1 {
        color: white;
    }

    span {
        color: white;
    }

    .Wrapper {
        background-color: $main-color;
    }
}

.Wrapper {
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.Container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.RefContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(33% - 20px);
    background-color: $main-color;
    padding: 10px;
    border-radius: 12px;
}
