.App {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.RightContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7px;
    gap: 7px;
}

.Item {
    height: 100%;
    flex: 0 0 calc(33% - 10px);
}
